<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Adicionar questão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionar questão</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--

imagens
string []
-
textos
string []
-
enunciado
string
-
alternativas
string
-
tags
string []
-
public
boolean
-
resolucao
string
-
banca_id
string
-
vestibular_id
string
-
prova_id
string
-
numero
integer
-
disciplinas_id
string []


-->

  <ion-item>
    <ion-label position="floating">Enunciado</ion-label>
  </ion-item>
</ion-content>
